.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    /* margin: 80px 170px; */
    margin: 80px 100px;
}

.services-title {
    position: relative;
}

.services-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    /* font-weight: 600; */
    font-weight: 400;
}

.services-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.services-format h3 {
    font-size: 28px;
    /* font-weight: 600; */
    font-weight: 400;
}

.services-format h2 {
    font-size: 38px;
    /* font-weight: 800; */
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    /* background: linear-gradient(to right, #F9D423,#4568DC); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format p {
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.services-readmore {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.services-format:hover {
    /* border: 2px solid #ff00ff; */
    border: 2px solid #F9D423;
    /* background-image: linear-gradient(45deg, #3f0028, #582300); */
    /* background: linear-gradient(45deg, #F9D423, #4568DC); */
    transform: scale(1.05);
    transition: 0.4s;
}

@media(max-width:768px) {
    .services {
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }

    .services-title h1 {
        padding: 0;
        font-size: 50px;
    }

    .services-title img {
        width: 130px;
        margin-right: -20px;
    }

    .services-format {
        gap: 20px;
        padding: 32px;
    }

    .services-format h2 {
        font-size: 28px;
    }

    .services-format p {
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }

    .services-readmore img {
        width: 20px;
    }

    .services-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media(min-width:320px) and (max-width: 420px) {
    .services {
        align-items: center;
        gap: 40px;
        margin: 0px 20px;
    }

    .services-title h1 {
        padding: 0;
        font-size: 40px;
    }

    .services-title img {
        width: 100px;
        margin-right: -10px;
    }

    .services-format {
        text-align: center;
        margin-left: 40px;
        /* gap: 20px; */
        width: 80%;
        padding: 24px;
    }

    .services-format h2 {
        font-size: 28px;
    }

    .services-format p {
        font-size: 18px;
        line-height: 30px;
        max-width: 300px;
    }

    .services-readmore img {
        width: 15px;
    }

    .services-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}