.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    /* gap: 30px; */
}

.hero img {
    margin-top: 50px;
    height: 520px;
    width: 500px;
    border-radius:300px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 70px;
    /* font-weight: 600; */
    font-weight: 500;
}

.hero h1 span {
    /* background: linear-gradient(270deg, #DF8908, #B415FF 100%); */
    background-image: linear-gradient(to right, #F9D423,#4568DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 30px;
    border-radius: 10px;
    /* background: linear-gradient(264deg, #df8908 -5.09%, #B415FF 106.28%); */
    background-image: linear-gradient(to right, #F9D423,#4568DC);
    cursor: pointer;
    text-align: center;
}

.hero-connect2 a{
    padding: 25px 75px;
    border-radius: 10px;
    /* background: linear-gradient(264deg, #df8908 -5.09%, #B415FF 106.28%); */
    background-image: linear-gradient(to right, #F9D423,#4568DC);
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/* .hero-resume a {
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
    text-decoration: none;
    color: white;
} */

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume a:hover {
    /* border-color: #B415FF; */
    border-color: #F9D423;
}

@media(max-width:768px) {
    .hero img {
        margin-top: 120px;
        width: 490px;
    }

    .hero h1 {
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }

    .hero p {
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .hero-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect {
        padding: 25px 30px;
        border-radius: 10px;
    }

    .hero-connect2 {
        padding: 20px 30px;
        border-radius: 10px;
    }
    
}

@media(min-width:320px) and (max-width: 480px){
    .hero{
        margin-left: 70px;
    }
    .hero img {
        margin-top: 60px;
        width: 400px;
        height: 400px;
    }

    .hero h1 {
        margin-top: 30px;
        width: 150%;
        font-size: 25px;
    }

    .hero p {
        width: 150%;
        font-size: 16px;
        line-height: 22px;
        margin: 10px 0px;
    }

    .hero-action {
        gap: 40px;
        font-size: 15px;
        margin-bottom: 30px;
    }

    .hero-connect {
        padding: 12px 20px;
        border-radius: 10px;
        width: 100px;
        height: 100%;
        font-weight: 600;
        /* font-size: 15px; */
    }

    .hero-connect2 a{
        padding: 20px 50px;
        border-radius: 10px;
        width: 100px;
        height: 100%;
        font-weight: 400;
        /* font-size: 15px; */
        text-decoration: none;
        color: white;

    }
    

}