.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    /* margin: 80px 170px; */
    margin: 80px 100px;
}

.mywork-title {
    position: relative;
}

.mywork-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    /* font-weight: 600; */
    font-weight: 400;
}

.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.mywork-container img {
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}

.mywork-container img:hover {
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3px;
}

.mywork-showmore {
    display: flex;
    gap: 15px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    /* font-weight: 500; */
    font-weight: 400;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.mywork-showmore:hover {
    gap: 30px;
    transition: 0.6s;
    border-color: #F9D423;
}

@media(max-width:768px) {
    .mywork {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .mywork-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .mywork-title img {
        width: 130px;
        margin-right: -20px;
    }

    .mywork-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .mywork-container img {
        width: 100%;
        height: 100%;
    }

    .mywork-showmore {
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}

@media(min-width:320px) and (max-width:420px) {
    .mywork {
        gap: 30px;
        margin-top: 0px;
        width: 90%;
        margin-left: 12%;
    }

    .mywork-title h1 {
        padding: 0;
        font-size: 30px;
        font-weight: 400;
    }

    .mywork-title img {
        width: 80px;
        margin-right: -20px;
    }

    .mywork-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .mywork-container img {
        width: 110%;
        height: 110%;
    }

    .mywork-showmore {
        padding: 15px 30px;
        font-size: 14px;
        margin: 30px auto;
        cursor: pointer;
    }
}