.resume{
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header{
    text-align: center;
    margin-bottom: 20px;
}

.contact-info,
.education,
.experience{
    margin-bottom: 30px;
}

h1{
    font-size: 36px;
    margin-bottom: 5px;
}
h2{
    font-size: 24px;
    margin-bottom: 10px;
}

p{
    font-size: 16px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
}

@media(max-width: 768px){
    .resume{
        width: 90%;
    }
}