.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    /* margin: 80px 170px; */
    margin: 80px 100px;
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    /* font-weight: 600; */
    font-weight: 400;
}

.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-sections {
    display: flex;
    gap: 80px;
}

.about-left img{
    width: 500px;
    height: 570px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    /* font-weight: 500; */
    font-weight: 400;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skills p {
    min-width: 150px;
    font-size: 24px;
    /* font-weight: 500; */
    font-weight: 400;
}

.about-skills hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    /* background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%); */
    background-image: linear-gradient(to right, #F9D423,#4568DC);
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 60px;
    font-weight: 700;
    /* background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%); */
    background-image: linear-gradient(to right, #F9D423,#4568DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}

@media(max-width:768px) {
    .about {
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-title h1 {
        font-size: 50px;
        padding: 0;
    }

    .about-title img {
        width: 130px;
        right: -20px;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill {
        gap: 20px;
        align-items: center;
    }

    .about-skill p {
        font-size: 20px;
    }

    .about-skill hr {
        height: 6px;
    }

    .about-achievements {
        justify-content: space-between;
    }

    .about-achievement {
        gap: 10px;
    }

    .about-achievement h1 {
        font-size: 34px;
        font-weight: 700;
    }

    .about-achievement p {
        text-align: center;
        font-size: 16px;
    }
}

@media(min-width:320px) and (max-width: 420px) {
    .about {
        gap: 20px;
        /* margin: 30px 50px; */
        /* align-items: center; */
        width: 90%;
        margin-left: 15%;
    }

    .about-title h1 {
        font-size: 50px;
        margin-left: 20px;
    }

    .about-title img {
        width: 80px;
        right: -20px;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 14px;
        line-height: 22px;
    }

    .about-skills {
        display: flex;
        gap: 0px;
    }

    .about-skill {
        gap: 10px;
        align-items: center;
    }

    .about-skill p {
        font-size: 15px;
    }

    .about-skill hr {
        height: 4px;
    }

    .about-achievements {
        justify-content: space-between;
        gap: 12px;
    }

    .about-achievement {
        gap: 8px;
    }

    .about-achievement h1 {
        font-size: 28px;
        font-weight: 400;
    }

    .about-achievement p {
        text-align: center;
        font-size: 12px;
    }
}