.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    /* margin: 80px 170px; */
    margin: 60px 100px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    /* font-weight: 600; */
    font-weight: 400;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 80px;
    /* font-weight: 700; */
    font-weight: 600;
    /* background: linear-gradient(270deg, #DF8908 80%, #B415ff 100%); */
    background-image: linear-gradient(to right, #F9D423,#4568DC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contact-left p {
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label {
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-right textarea {
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 10px;
    /* background: linear-gradient(264deg, #DF8908 -5.09%, #B415ff 106.28%); */
    background-image: linear-gradient(to right, #F9D423,#4568DC);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:768px) {
    .contact {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .contact-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .contact-title img {
        width: 130px;
        margin-right: -20px;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-left h1 {
        font-size: 54px;
    }

    .contact-left p {
        font-size: 18px;
    }

    .contact-detail {
        gap: 20px;
    }

    .contact-detail img {
        width: 25px;
    }

    .contact-right label {
        font-size: 20px;
    }

    .contact-right input {
        width: 100%;
        font-size: 20px;
    }

    .contact-right textarea {
        width: 95%;
        font-size: 20px;
    }

    .contact-submit {
        font-size: 20px;
        padding: 15px 40px;
    }
}

@media(min-width:320px) and (max-width:420px) {
    .contact {
        gap: 30px;
        /* margin: 20px 20px; */
        /* align-items: start; */
    }

    .contact-title h1 {
        padding: 0;
        font-size: 40px;
        font-weight: 500;
    }

    .contact-title img {
        width: 80px;
        margin-right: -20px;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-left h1 {
        font-size: 34px;
    }

    .contact-left p {
        font-size: 16px;
        line-height: 22px;
    }

    .contact-detail {
        gap: 18px;
    }

    .contact-detail img {
        width: 20px;
    }

    .contact-right label {
        font-size: 16px;
    }

    .contact-right input {
        width: 100%;
        font-size: 16px;
    }

    .contact-right textarea {
        width: 100%;
        font-size: 16px;
    }

    .contact-submit {
        font-size: 16px;
        padding: 15px 40px;
    }

}