.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    top: 5px;
    width: 100%;
    background-color: #161513; */
    margin: 20px 100px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 10px;
    /* background: linear-gradient(267deg, #DA7C25 036%, #B923E1 102.06%); */
    background-image: linear-gradient(to right, #F9D423,#4568DC);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 60px;
}

.nav-connect:hover {
    transform: scale(1.05);
    /* border: 2px solid white; */
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li:hover{
    text-decoration: underline;
}

.ogo {
    height: 56px;
    width: 56px;
    object-fit: contain;
    filter: invert(70%) sepia(96%) saturate(558%) hue-rotate(359deg)
    brightness(103%) contrast(106%);
    margin-left: 60px;
  }

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
} 

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media(max-width:768px) and (min-width:480px) {
    .navbar {
        margin: 20px 0px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
} 

@media(min-width:320px) and (max-width: 480px) {
    .navbar {
        margin: 20px 0px;
    }

    .ogo{
        margin-left: 25px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 35px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 240px;
        width: 25px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 20px;
        background: #1F0016;
        width: 310px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 25px;
        padding-left: 70px;
        flex-direction: row;
        gap: 20px;
    }
}

