body {
    font-family: 'outfit';
}

.footer {
    /* background-color: #222; */
    color: #ddd;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-about, .footer-links, .footer-social {
    flex: 1 1 300px;
    margin: 10px;
}

.footer h2 {
    color: #fff;
    margin-bottom: 20px;
}

.footer p, .footer li {
    margin-bottom: 10px;
}

.footer a {
    color: #ddd;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
}

@media(max-width:768px) {
    .footer-about{
        display: none;
    }
    .footer-container{
        margin-left: 10%;
    }
}

@media(min-width:320px) and (max-width:420){
    .footer{
        width: 100%;
    }
    .footer-about{
        display: none;
    }

    .footer-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            /* margin: 0 auto;
            padding: 0 20px; */
    }
}
